node_modules
npm-debug.log

.output
.input/*
!.input/hulksmash.jpg
!.input/hulksmash.png
!.input/hulksmash.gif

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes